# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Cache Maven packages
        uses: actions/cache@v1
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Build with Maven
        run: mvn -B package -P package

      - name: Prepare staging
        run: mkdir staging && cp target/*.jar staging && cp target/*.tar.gz staging
      - name: Archive staging
        uses: actions/upload-artifact@v1
        with:
          name: Package
          path: staging

      - name: Prepare site
        run: mkdir site && cp -r target/site/* site
      - name: Archive site
        uses: actions/upload-artifact@v1
        with:
          name: Coverage report
          path: site

  upload-coverage:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download site
        uses: actions/download-artifact@v1
        with:
          name: site
      - name: Upload coverage to codacy
        uses: codacy/codacy-coverage-reporter-action@master
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
          coverage-reports: site/jacoco-ut/jacoco.xml

